{% extends "around.html" %}
{% block extrahead %}
<script type="text/javascript">$('#result').load('try.html');</script>
{% endblock %}

   {% block menuleft %}
    <div class="span2">
    <ul class="nav nav-list">
    <li class="active"><a href="#"><i class="icon-home icon-white"></i> Home</a></li>
    <li><a href="#"><i class="icon-book"></i> Library</a></li>
    <li><a href="#"><i class="icon-pencil"></i> Applications</a></li>
    <li><a href="#"><i class="i"></i> Misc</a></li>
    </ul>
    </div>
    
    
    <div class="span8">
     
    <div>
       <ul>{% for file in tests[keys[0]] %}
	<li><p class="lead"><a data-toggle="collapse" data-target=".nav-collapse">{{ file['desc'] }}</a><br/><code>{{ file['abs_path'] }}</code></p></li>
            <!--<div class="nav-collapse collapse">
		<ul><li>A</li><li>AB</li><li>AC</li><li>ADD</li><li>Aee</li></ul>
	    </div>-->
	   {% endfor %}
       </ul>
     </div>

   </div>
    
     <div id="result"></div>
{% endblock %}
